<ion-view view-title="活动">
    <ion-content class="has-header">
        <ion-refresher
            pulling-text="刷新列表..."
            on-refresh="doRefresh()">
        </ion-refresher>

        <ion-list>
            <ion-item ng-repeat="act in activites.activityList" class="item-avatar"
                href="#/main/activityDetail/{{act.id}}">
                <img ng-src="{{act.getPublisher().portraitUrl}}">
                <h2>
                    {{act.title}}
                    <!-- activity-status bar -->
                    <span class="activity-ended" ng-if="act.getStatus() == 1">已结束</span>
                    <span class="activity-waiting" ng-if="act.getStatus() == 2">等待中</span>
                    <span class="activity-register-end" ng-if="act.getStatus() == 3">报名结束</span>
                    <span class="activity-registering" ng-if="act.getStatus() == 4">报名中</span>
                </h2>
                <p>{{act.description}}</p>

                <span ng-if="act.getSelfStatus() == 0" class="user-activity-status user-activity-status-default">未回复</span>
                <span ng-if="act.getSelfStatus() == 2" class="user-activity-status user-activity-status-deny">拒绝</span>
                <span ng-if="act.getSelfStatus() == 1" class="user-activity-status user-activity-status-accept">接受</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
