.item-avatar.user-info>h2{
    font-size: 26px;
    margin-left: 10px;
}

.user-info>span {
    font-weight: bold;
    min-width: 25%;
    display: inline-block;
}

.user-info.button-field {
    margin-top: 30px;
}

.contact>span {
    display: inline-block;
    margin-right: 20px;
	width: 80px;
	font-width: bold;
}

.enter-import>button.button.button-block {
	margin-top: 0;
	margin-bottom: 0;
}

.enter-import {
	border-width: 0;
}
