<!--
    the register page

    author: rapidhere@gmail.com
-->

<ion-view view-title="注册">
    <ion-content class="content has-header">
        <ion-list>
            <ion-item class="item item-input">
                <span class="input-label">用户名</span>
                <input type="text" ng-model="formData.username">
            </ion-item>
            <ion-item class="item-input item-select">
                <span class="input-label">性别</span>
                <select ng-model="formData.gender">
                    <option selected>男</option>
                    <option>女</option>
                </select>
            </ion-item>
            <ion-item class="item-input">
                <span class="input-label">手机</span>
                <input type="text" ng-model="formData.mobile">
            </ion-item>
            <ion-item class="item-input">
                <span class="input-label">密码</span>
                <input type="password" ng-model="formData.password">
            </ion-item>
            <ion-item class="item-input">
                <span class="input-label">确认密码</span>
                <input type="password" ng-mode="formData.passwordRepeat">
            </ion-item>
        </div>

        <div class="padding">
            <button class="button button-block button-positive" ng-click="register()">注册</button>
        </div>
    </ion-content>
</ion-view>
